/*Main sizing*/
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;}
body {
    min-width: calc(100vw / 3);
    min-height: calc(100vh / 3);}
table {
    width: 100vw;}
table.top-table, table.bottom-table {
    height: 25vh;}
table.middle-table {
    height: 50%;}

/*Main border settings*/
table, table.middle-table td, table.top-table tr {
    border: 0.25vw solid red;}
table.top-table {
    border-bottom: 0.125vw solid red;}
table.bottom-table {
    border-top: 0.125vw solid red; }

/*Additional sizing*/
td.item-x, td.item-y {
   width: 35%; }
/* td.item-1, td.item-6 {
    width: 60%;
} */
td.item-2 {
    width: 25%;}
td.item-3 {
    width: 75%;
    height: calc(100% / 6);}
td.item-4 {
    width: 50%;
    height: calc(500% / 6)}
td.item-5 {
    width: 25%;
    height: calc(500% / 6)}
div.item-x, div.item-y {
    min-height: 10vh;
    max-width: 30vw;
    margin: 0 2.5;}

/*Additional border settings*/
div.item-x, div.item-y {
    border: 0.25vw solid red;}


